


/********** PRRPLE SLIDER **********/
.slider { display:block; position:relative; }
.slider .slider_area{ display:block; position:relative; width:100%; overflow:hidden; }
.slider .slides{ display:block; position:relative; }
.slider .slide{ display:block; position:relative; float:left; height:650px; }
.slider.fade .slide{ display:block; position:absolute; top:0; left:0; width:100%; }
.slider.vertical .slide{ float:none; }
.slider .slider_clear{ display:block; position:relative; height:0; clear:both; }
.slider .slider_left, .slider .slider_right{ display:none; color:#333; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; }
.slider .slider_left:hover, .slider .slider_right:hover{ color:#888; }
.slider .slider_left.inactive, .slider .slider_right.inactive{	cursor:default; color:#CCC; }
.slider .slider_nav{ display:block; position:absolute; text-align:center; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; z-index: 100000;}
.slider .slider_navdot{ display:inline-block; width:10px; height:10px; background:#DDD; }
.slider .slider_navdot.current{ background:#AAA; }
.slider .slider_controls{ display:none; }
.slider .slider_play.hidden, .slider .slider_pause.hidden{ display:none !important; }
.slider .animate{ -webkit-transition:all 500ms ease-in-out; -moz-transition:all 500ms ease-in-out; -o-transition:all 500ms ease-in-out; transition:all 500ms ease-in-out; }


